/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%; /* 横幅90% */
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.nav-list {
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}

.main {
  width: 800px;/* 横幅840px */
  padding: 50px 0;
 margin: 0 auto;
 line-height: 700px;
}

.main-1 {
  display: flex;
}

.e6ffe9 {
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}

.cbffd3 {
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}

.aeffbd {
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}

.ffab {
  width: 200px;
  height: 200px;
  background-color: #93ffab;
}

.main-2 {
  display: flex;
}

.line2-1 {
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}

.line2-2 {
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}

.line2-3 {
  width: 200px;
  height: 200px;
  background-color: #e9ffa5;
}

.line2-4 {
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}

.main-3 {
  display: flex;
}

.line3-1 {
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}

.line3-2 {
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.line3-3 {
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.line3-4 {
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}
footer {
  width: 100%; /* 横幅いっぱい */
  height: 120px;
  background-color: gray;/* 高さ120px */
  line-height: 120px;
}

.footer-text {
  color: white;
  text-align: center;
}